<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AGCS</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/CSS/Bootstrap.css">
        <link rel="stylesheet" href="~/css/Layout.css" />
        <link rel="stylesheet" href="~/css/Table.css">
        <link rel="stylesheet" href="~/css/MySiteCSS.css">

        <script src="~/lib/Jquery 3.4.1.js" crossorigin="anonymous"></script>
        <script src="~/lib/bootstrap/JS/Bootstrap JS 4.3.1.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="~/js/Global.js" crossorigin="anonymous"></script>
    </environment>
</head>
<body>
    <nav class="row sticky-top">
        <div class="bg-danger w-100">

            <a href="~/Backend">
                <h1 class="pl-5 offset-md-1 text-white float-left">AGCS</h1>
            </a>
            <div class="offset-md-7 pt-2">
                <span class="text-white">@Session.GetSString("business")</span>
                <span class="ml-2 mr-2 text-white">|</span>
                <span class="text-white">@Session.GetSString("username")</span>
                <span class="ml-2 mr-2 text-white">|</span>
                <img src="~/images/icon-user.png" alt="icono-User" class="w-5 mr-5">
                @Html.ActionLink("Cerrar Sesión", "Index", "Home", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </nav>

    <div class=" h-750 bg-dark w-5 float-left text-center">

    </div>
    <aside class=" h-100 position-fixed bg-dark w-5 float-left text-center">
        <!-- <a href=""><img class="mt-4 w-60" src="~/images/camion.png"></a><br>-->
        <a href="/Backend/CreateBill"><img class="mt-4 w-60" src="~/images/dinero.png"></a><br>
        <a href="/Clients/ClientsCRUD"><img class="mt-4 w-60" src="~/images/clientes.png"></a><br>
        <a href="/Purchases/CreatePurchase"><img class="mt-4 w-60" src="~/images/purchase.png"></a><br>
        <a href="/Suppliers/SuppliersCRUD"><img class="mt-4 w-60" src="~/images/proveedores.png"></a><br>
        <a href=""><img class="mt-4 w-60" src="~/images/diagrama.png"></a><br>
        <a href="/Backend/Configuration"><img class="mt-4 w-60" src="~/images/ajustes.png" alt=""></a>
    </aside>

    @RenderBody()
    <footer></footer>
</body>
</html>
