@{
    @model AGCS.Models.Supplier
    string validInt(string number)
    {
        string value = "-"; ;
        try
        {
            int parsedNumber = Convert.ToInt32(number);
            if (parsedNumber > 0)
            {
                value = parsedNumber.ToString();
            }
        }
        catch
        {
        }
        return value;
    }

    string validString(string words)
    {
        if (words == "")
        {
            words = "-";
        }
        return words;
    }
}
    <script src="~/js/SuppliersCRUD.js"></script>
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Proveedores</strong>
                </div>
                <div class="card-body">
                    <input type="text" id="searchInput" class="searchInput"  placeholder="Buscar Proveedor (por CUIT, nombre, apellido, razón social, nombre de fantasía)">
                    <button type="button" id="btnModalCrt" class="btn btn-primary w-100" data-toggle="modal" data-target="#modalCrt">
                        Agregar Proveedor
                    </button>

                    <table class="CRUDTable" id="CRUDTable">
                        <tr class="header">
                            <th class="p-2" style="width:10%;">Cuit</th>
                            <th class="p-2" style="width:10%;">Apellido</th>
                            <th class="p-2" style="width:10%;">Nombre</th>
                            <th class="p-2" style="width:20%;">Nombre de Fantasía</th>
                            <th class="p-2" style="width:15%;">Celular</th>
                            <th class="p-2" style="width:28%;">Mail</th>
                            <th class="p-2" style="width:5%;">Modificar</th>
                            <th class="p-2" style="width:5%;">Eliminar</th>
                        </tr>
                        @{
                            for (int i = 0; i < ViewBag.Suppliers.Count; i++)
                            {
                        <tr class="tableRow">
                            <td class="colToSearch pl-2">@validInt((ViewBag.Suppliers[i].Cuit.ToString()))</td>
                            <td class="colToSearch">@validString(ViewBag.Suppliers[i].Surname)</td>
                            <td class="colToSearch">@validString(ViewBag.Suppliers[i].Name)</td>
                            <td class="colToSearch">@validString(ViewBag.Suppliers[i].Fanciful_name)</td>
                            <td>@validInt((ViewBag.Suppliers[i].Cellphone))</td>
                            <td>@validString(ViewBag.Suppliers[i].Mail)</td>
                            <td><a data-toggle="modal" data-target="#modalUpdt"><updateButton modelId="@ViewBag.Suppliers[i].Id"><img class="crudButton" src="~/images/edit.png" /></updateButton></a></td>
                            <td><a data-toggle="modal" data-target="#confirmModal"><deleteButton modelId="@ViewBag.Suppliers[i].Id"><img class="crudButton" src="~/images/delete.png" /></deleteButton></a></td>
                        </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal delete confirmation-->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="confirmationModal">Esta seguro que quiere eliminar al proveedor?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="confirm" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Extra large modal Create-->
    <div class="modal fade bd-example-modal-xl" id="modalCrt" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear Proveedor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row justify-content-center">
                        <div class="col-md-3">
                            <div class="text-center">
                                <strong><span>Apellido</span></strong>
                            </div>
                            <div class="crtInput notEmpty" id="crtSurname">
                                <input class="form-control text-center" type="text">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>Nombre</span></strong>
                            </div>
                            <div class="crtInput notEmpty" id="crtName">
                                <input class="form-control text-center" type="text">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>CUIT</span></strong>
                            </div>
                            <div class="crtInput notEmpty validPositive" id="crtCuit">
                                <input class="form-control text-center" type="number" step="1">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4 justify-content-center">
                        <div class="col-md-3">
                            <div class="text-center">
                                <strong><span>Nro. Teléfono</span></strong>
                            </div>
                            <div class="crtInput validPositive" id="crtTelephone">
                                <input class="form-control text-center" type="number" min="0">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>Nro. Celular</span></strong>
                            </div>
                            <div class="crtInput validPositive" id="crtCellphone">
                                <input class="form-control text-center" type="number" min="0">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>Mail</span></strong>
                            </div>
                            <div class="crtInput" id="crtMail">
                                <input class="form-control text-center" type="email">
                                <div class="validation_msg hidden text-center">Ingrese un mail válido</div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4 justify-content-center">
                        <div class="col-md-5">
                            <div class="text-center">
                                <strong><span>Razón Social</span></strong>
                            </div>
                            <div class="crtInput notEmpty" id="crtCompany">
                                <input class="form-control text-center" type="text">
                                <div class="validation_msg hidden text-center">Ingrese valor válido</div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="text-center">
                                <strong><span>Nombre de Fantasía</span></strong>
                            </div>
                            <div class="crtInput notEmpty" id="crtFanciful">
                                <input class="form-control text-center" type="text">
                                <div class="validation_msg hidden text-center">Ingrese valor válido</div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="offset-md-1 col-md-10">
                            <div class="text-center">
                                <strong><span>Dirección</span></strong>
                            </div>
                            <div class="crtInput" id="crtAddress">
                                <input class="form-control text-center" type="text">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secundary" id="crtCancel" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary" id="add">Crear</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Create END-->
    <!-- Modal Update Beginning-->
    <div class="modal fade bd-example-modal-xl" id="modalUpdt" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Datos Del Proveedor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row justify-content-center">
                        <div class="col-md-3">
                            <div class="text-center">
                                <strong><span>Apellido</span></strong>
                            </div>
                            <div class="updtInput notEmpty" id="updtSurname">
                                <input class="form-control text-center" type="text">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>Nombre</span></strong>
                            </div>
                            <div class="updtInput notEmpty" id="updtName">
                                <input class="form-control text-center" type="text">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>Cuit</span></strong>
                            </div>
                            <div class="updtInput notEmpty validPositive" id="updtCuit">
                                <input class="form-control text-center" type="number" step="1">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 justify-content-center">
                        <div class="col-md-3">
                            <div class="text-center">
                                <strong><span>Nro. Telefono</span></strong>
                            </div>
                            <div class="updtInput validPositive" id="updtTelephone">
                                <input class="form-control text-center" type="number" min="0" step="1">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>Nro. Celular</span></strong>
                            </div>
                            <div class="updtInput validPositive" id="updtCellphone">
                                <input class="form-control text-center" type="number" min="0" step="1">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>Mail</span></strong>
                            </div>
                            <div class="updtInput" id="updtMail">
                                <input class="form-control text-center" type="email">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 justify-content-center">
                        <div class="col-md-5">
                            <div class="text-center">
                                <strong><span>Razón Social</span></strong>
                            </div>
                            <div class="updtInput notEmpty" id="updtCompany">
                                <input class="form-control text-center" type="text">
                                <div class="validation_msg hidden text-center">Ingrese valor válido</div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="text-center">
                                <strong><span>Nombre de Fantasía</span></strong>
                            </div>
                            <div class="updtInput notEmpty" id="updtFanciful">
                                <input class="form-control text-center" type="text">
                                <div class="validation_msg hidden text-center">Ingrese valor válido</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="offset-md-1 col-md-10">
                            <div class="text-center">
                                <strong><span>Dirección</span></strong>
                            </div>
                            <div class="crtInput" id="updtAddress">
                                <input class="form-control text-center" type="text">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secundary" id="updateCancel" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary" id="update">Guardar</button>
                </div>
            </div>
        </div>
    </div>
   