@{
    @model AGCS.Models.Supplier
    string validInt(string number)
    {
        string value = "-"; ;
        try
        {
            int parsedNumber = Convert.ToInt32(number);
            if (parsedNumber > 0)
            {
                value = parsedNumber.ToString();
            }
        }
        catch
        {
        }
        return value;
    }

    string validString(string words)
    {
        if (words == "")
        {
            words = "-";
        }
        return words;
    }
}
<script src="~/js/SuppliersCRUD.js"></script>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Proveedores</strong>
            </div>
            <div class="card-body">
                <input type="text" id="searchInput" class="searchInput" placeholder="Buscar Proveedor (por CUIT, nombre, apellido, razón social o nombre de fantasía)">
                <table class="CRUDTable" id="CRUDTable">
                    <tr class="header">
                        <th class="p-2" style="width:20%;">CUIT</th>
                        <th class="p-2" style="width:20%;">Apellido</th>
                        <th class="p-2" style="width:15%;">Nombre</th>
                        <th class="p-2" style="width:20%;">Razón Social</th>
                        <th class="p-2" style="width:20%;">Nombre de Fantasía</th>
                        <th class="p-2" style="width:5%;">Agregar Compra</th>
                    </tr>
                    @{
                        for (int i = 0; i < ViewBag.Suppliers.Count; i++)
                        {
                    <tr class="tableRow">
                        <td class="colToSearch pl-2">@validInt(ViewBag.Suppliers[i].Cuit.ToString()) </td>
                        <td class="colToSearch">@validString(ViewBag.Suppliers[i].Surname)</td>
                        <td class="colToSearch">@validString(ViewBag.Suppliers[i].Name)</td>
                        <td class="colToSearch">@validString(ViewBag.Suppliers[i].Company)</td>
                        <td class="colToSearch"> @validString(ViewBag.Suppliers[i].Fanciful_name)</td>
                        <td> <a href="@Url.Action("CreatePurchase","Purchases", new { idSupplier = ViewBag.Suppliers[i].Id})"> <img class="crudButton" src="~/images/add cross.png" /></a></td>
                    </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>