
@{
    ViewData["Title"] = "Inicio";
}
<div class="container">
    <div class="row">
        @Html.ActionLink("Productos", "ProductsCRUD", "Products", null, new { @class = "col-md-2 mr-4 mt-4  offset-md-2 btn btn-success" })
        @Html.ActionLink("Facturar", "CreateBill", "Backend", null, new { @class = "col-md-2 mr-4 mt-4 btn btn-danger" })
        @Html.ActionLink("Clientes", "ClientsCRUD", "Clients", null, new { @class = "col-md-2 mr-4 mt-4 btn btn-primary" })
        @Html.ActionLink("Presupuestos", "CRUDClient", "Clients", null, new { @class = "col-md-2 mr-4 mt-4 btn btn-warning" })
        @Html.ActionLink("Proovedores", "SuppliersCRUD", "Suppliers", null, new { @class = "col-md-2 mr-4 mt-4 btn btn-secondary" })
    </div>
</div>


