
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="row">
        @Html.ActionLink("Productos", "ProductsCRUD", "Products", null, new { @class = "col-md-2 mr-4 mt-4  offset-md-2 btn btn-success" })
        @Html.ActionLink("Facturar", "CreateBill", "Backend", null, new { @class = "col-md-2 mr-4 mt-4 btn btn-danger" })
        @Html.ActionLink("Clientes", "ClientsCRUD", "Clients", null, new { @class = "col-md-2 mr-4 mt-4 btn btn-primary" })
        @Html.ActionLink("Presupuestos", "CRUDClient", "Clients", null, new { @class = "col-md-2 mr-4 mt-4 btn btn-warning" })
    </div>
</div>

<p>
    Learn how to build ASP.NET apps that can run anywhere.
    <a class="btn btn-default" href="@Url.Action("Pruebas", "Backend")">
        Pruebas
    </a>
</p>
<p>
    Learn how to build ASP.NET apps that can run anywhere.
    <a class="btn btn-default" href="@Url.Action("CRUDClient", "Backend")">
        ABMClientes
    </a>
</p>

