@{
    @model AGCS.Models.Product
    string validInt(int number) {
        string value;
        if (number <= 0)
        {
            value = "-";
        }
        else {
            value = number.ToString();
        }
        return value;
    }

    string validString(string words)
    {
        if (words == "")
        {
            words = "-";
        }
        return words;
    }

    string validFloat(float number)
    {
        string value;
        if (number <= 0)
        {
            value = "-";
        }
        else
        {
            value = number.ToString();
        }
        return value;
    }

}

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Movimiento de stock: @ViewBag.Product.Description</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <span class="col-md-2 mt-3 mb-4">Stock actual: @ViewBag.Product.Stock</span>
                        <form class="row">
                            <input class="col-md-2 mt-3 mb-4 form-control" type="number" />
                            <input class="col-md-6 offset-md-1 mt-3 mb-4 form-control" type="text" />
                            <input class="col-md-2 offset-md-1 mt-3 mb-4 form-control" type="submit" />
                        </form>
                    </div>
                    <hr />

                    <input type="text" id="searchInput" class="searchInput" placeholder="Buscar Movimiento de Stock (por Fecha)">
                    <table id="CRUDTable" class="CRUDTable">
                        <tr class="header">
                            <th class="p-2" style="width:15%;">Tipo de movimiento</th>
                            <th class="p-2" style="width:10%;">Cantidad</th>
                            <th class="p-2" style="width:15%;">Fecha</th>
                            <th class="p-2" style="width:25%;">Empleado</th>
                            <th class="p-2" style="width:35%;">Descripcion</th>
                        </tr>
                        @{
                            for (int i = 0; i < ViewBag.Products.Count; i++)
                            {
                        <tr class="tableRow">
                            <td class="colToSearch">@validInt(ViewBag.Products[i].ArticleNumber)</td>
                            <td class="colToSearch">@validString(ViewBag.Products[i].Description)</td>
                            <td class="colToSearch">@validString(ViewBag.Products[i].Code)</td>
                            <td>@validFloat(ViewBag.Products[i].PriceW)</td>
                             </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

 
    <script src="~/js/ProductsCRUD.js"></script>