@{
    @model AGCS.Models.Product
    string validInt(int number) {
        string value;
        if (number <= 0)
        {
            value = "-";
        }
        else {
            value = number.ToString();
        }
        return value;
    }

    string validString(string words)
    {
        if (words == "")
        {
            words = "-";
        }
        return words;
    }

    string validFloat(float number)
    {
        string value;
        if (number <= 0)
        {
            value = "-";
        }
        else
        {
            value = number.ToString();
        }
        return value;
    }

}
<!doctype html>
<html lang="es"> 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Table.css">
    <link rel="stylesheet" href="~/css/MySiteCSS.css">
    <title>AGCS</title>
</head>

<body>
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Productos</strong>
                </div>
                <div class="card-body">
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar Producto">
                    <button type="button" id="addProduct" class="btn btn-primary w-100" data-toggle="modal" data-target=".bd-example-modal-xl">
                        Agregar Product
                    </button>

                    <table id="myTable">
                        <tr class="header">
                            <th style="width:20%;">Nro. de Producto</th>
                            <th style="width:15%;">Descripción</th>
                            <th style="width:15%;">Código de Producto</th>
                            <th style="width:10%;">Precio</th>
                            <th style="width:25%;">Stock</th>
                            <th style="width:10%;">Modificar</th>
                            <th style="width:10%;">Eliminar</th>
                        </tr>
                        @{
                            for (int i = 0; i < ViewBag.Products.Count; i++)
                            {
                                <tr>
                                    <td>@validInt(ViewBag.Products[i].ArticleNumber)</td>
                                    <td>@validString(ViewBag.Products[i].Description)</td>
                                    <td>@validString(ViewBag.Products[i].Code)</td>
                                    <td>@validFloat(ViewBag.Products[i].Price)</td>
                                    <td>@ViewBag.Products[i].Stock</td>
                                    <td><a data-toggle="modal" data-target="#productUpdate"><img position="@i" class="btnProductUpdate updateImage" src="~/images/edit.png" /></a></td>
                                    <td><a data-toggle="modal" data-target="#confirmationModal"><deleteButton position="@i"><img class="w-50" src="~/images/delete.png" /></deleteButton></a></td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Create Beg-->
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="confirmationModal">Esta seguro que quiere eliminar el producto?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="confirm" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Extra large modal Create-->
    <div class="modal fade bd-example-modal-xl" id="createClient" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="offset-md-1 col-md-2">
                            <div class="text-center">
                                <strong><span>Apellido</span></strong>
                            </div>
                            <input id="modalCreateSurname" class="form-control text-center" type="text">
                            <div class="validation_msg hidden text-center" id="msgCreateSurname">Ingrese un apellido válido</div>
                        </div>
                        <div class="offset-md-1 col-md-3">
                            <div class="text-center">
                                <strong><span>Nombre</span></strong>
                            </div>
                            <input id="modalCreateName" class="form-control text-center" type="text">
                            <div class="validation_msg hidden text-center" id="msgCreateName">Ingrese un nombre válido</div>
                        </div>
                        <div class="offset-md-1 col-md-2">
                            <div class="text-center">
                                <strong><span>DNI/CUIT/CUIL</span></strong>
                            </div>
                            <input id="modalCreateDni" class="form-control text-center" type="number" min="0">
                            <div class="validation_msg hidden text-center" id="msgCreateDni">Ingrese un DNI o CUIT válido</div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="offset-md-1 col-md-2">
                            <div class="text-center">
                                <strong><span>Nro. Teléfono</span></strong>
                            </div>
                            <input id="modalCreateTelephone" class="form-control text-center" type="number" min="0">
                            <div class="validation_msg hidden text-center" id="msgCreateTelephone">Ingrese un teléfono válido</div>
                        </div>
                        <div class="offset-md-1 col-md-3">
                            <div class="text-center">
                                <strong><span>Nro. Celular</span></strong>
                            </div>
                            <input id="modalCreateCellphone" class="form-control text-center" type="number" min="0">
                            <div class="validation_msg hidden text-center" id="msgCreateCellphone">Ingrese un nro. celular válido</div>
                        </div>
                        <div class="offset-md-1 col-md-2">
                            <div class="text-center">
                                <strong><span>Email</span></strong>
                            </div>
                            <input id="modalCreateEmail" class="form-control text-center" type="email">
                            <div class="validation_msg hidden text-center" id="msgCreateEmail">Ingrese un email válido</div>
                        </div>
                    </div>
                    <div class="text-center mt-5">
                        <h4 class="badge-pill badge-danger">Dirección</h4>
                    </div>
                    <div class="row mt-4">
                        <div class="offset-md-1 col-md-2">
                            <div class="text-center">
                                <strong><span>Localidad</span></strong>
                            </div>
                            <input id="modalCreateTown" class="form-control text-center" type="text">
                            <div class="validation_msg hidden text-center" id="msgCreateTown">Ingrese un  válido</div>
                        </div>
                        <div class="offset-md-1 col-md-3">
                            <div class="text-center">
                                <strong><span>Direccion</span></strong>
                            </div>
                            <input id="modalCreateAddress" class="form-control text-center" type="text">
                            <div class="validation_msg hidden text-center" id="msgCreateAddress">Ingrese un  válido</div>
                        </div>
                        <div class="offset-md-1 col-md-2">
                            <div class="text-center">
                                <strong><span>Provincia</span></strong>
                            </div>
                            <select class="form-control">
                                <option value="CABA">CABA</option>
                                <option value="Buenos Aires">Buenos Aires</option>
                                <option value="Mendoza">Mendoza</option>
                                <option value="Santa Fé">Santa Fe</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="offset-md-1 col-md-2">
                            <div class="text-center">
                                <strong><span>Número</span></strong>
                            </div>
                            <input id="modalCreateNumber" class="form-control text-center" type="number">
                            <div class="validation_msg hidden text-center" id="msgCreateNumber">Ingrese un  válido</div>
                        </div>
                        <div class="offset-md-1 col-md-3">
                            <div class="text-center">
                                <strong><span>Piso</span></strong>
                            </div>
                            <input id="modalCreateFloor" class="form-control text-center" type="number" min="0">
                            <div class="validation_msg hidden text-center" id="msgCreateFloor">Ingrese un  válido</div>
                        </div>
                        <div class="offset-md-1 col-md-2">
                            <div class="text-center">
                                <strong><span>Letra</span></strong>
                            </div>
                            <input id="modalCreateAppartment" class="form-control text-center" type="text">
                            <div class="validation_msg hidden text-center" id="msgCreateAppartment">Ingrese un  válido</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secundary" id="createCancel" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary" id="newProduct">Crear</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Create END-->
    <!-- Modal Update Beginning-->
    <div class="modal fade bd-example-modal-xl" id="productUpdate" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Información Del Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="offset-md-1 col-md-2">
                            <div class="text-center">
                                <strong><span>Nro. de Artículo</span></strong>
                            </div>
                            <div id="updtNumber">
                                <input  class="form-control text-center" type="text">
                                <div class="validation_msg hidden text-center">Ingrese un nro válido</div>
                            </div>
                        </div>
                        <div class="offset-md-1 col-md-3">
                            <div class="text-center">
                                <strong><span>Descripción</span></strong>
                            </div>
                            <div id="updtDescription">
                                 <input class="form-control text-center" type="text">
                                 <div class="validation_msg hidden text-center">Ingrese una descripción válida</div>
                            </div>
                        </div>
                        <div class="offset-md-1 col-md-2">
                            <div class="text-center">
                                <strong><span>Código</span></strong>
                            </div>
                            <div id="updtCode">
                                 <input class="form-control text-center" type="number" min="0">
                                 <div class="validation_msg hidden text-center">Ingrese un código válido</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="offset-md-1 col-md-2">
                            <div class="text-center">
                                <strong><span>Costo</span></strong>
                            </div>
                            <div id="updtCost">
                                 <input class="form-control text-center" type="number" min="0" step="0.01">
                                 <div class="validation_msg hidden text-center">Ingrese un monto válido</div>
                            </div>
                        </div>
                        <div class="offset-md-1 col-md-3">
                            <div class="text-center">
                                <strong><span>Precio por Menor</span></strong>
                            </div>
                           <div id="updtPrice">
                                <input class="form-control text-center" type="number" min="0" step="0.01">
                                <div class="validation_msg hidden text-center">Ingrese un monto válido</div>
                           </div>
                        </div>
                        <div class="offset-md-1 col-md-2">
                            <div class="text-center">
                                <strong><span>Precio por Mayor</span></strong>
                            </div>
                           <div id="updtPriceW">
                                <input class="form-control text-center"  type="number" min="0" step="0.01" />
                                <div class="validation_msg hidden text-center">Ingrese un monto válido</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="offset-md-1 col-md-2">
                            <div class="text-center">
                                <strong><span>Stock</span></strong>
                            </div>
                            <div id="updtStock">
                                 <input class="form-control text-center" type="number" step="1">
                                 <div class="validation_msg hidden text-center">Ingrese una cantidad válida</div>
                            </div>
                        </div>
                        <div class="offset-md-1 col-md-2">
                            <div class="text-center">
                                <strong><span>Proveedor</span></strong>
                            </div>
                            <select id="updtSupplier" class="form-control">
                                <option value="1">Aquino lestraigo</option>
                                <option value="2">vendo todo y me voy</option>
                                <option value="3">speedwagon</option>
                                <option value="4">columna de taopaipai</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secundary" id="updateCancel" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary" id="UpdateSubmit">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Update END-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
    <script src="~/js/ProductsCRUD.js"></script>
</body>
</html>