@{
    @model AGCS.Models.Client
    string validInt(long number)
    {
        string value;
        if (number <= 0)
        {
            value = "-";
        }
        else
        {
            value = number.ToString();
        }
        return value;
    }

    string validString(string words)
    {
        if (words == "")
        {
            words = "-";
        }
        return words;
    }
}
<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Table.css">
    <link rel="stylesheet" href="~/css/MySiteCSS.css">
    <title>AGCS</title>
</head>

<body>
    <div class="m-5">
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Usuarios</strong>
                    </div>
                    <div class="card-body">
                        <input type="text" id="searchInput" class="searchInput" placeholder="Buscar Usuario">
                        <button type="button" id="btnModalCrt" class="btn btn-primary w-100" data-toggle="modal" data-target=".bd-example-modal-xl">
                            Agregar Usuario
                        </button>

                        <table id="CRUDTable" class="CRUDTable">
                            <tr class="header">
                                <th class="p-2" style="width:20%;">Apellido</th>
                                <th class="p-2" style="width:15%;">Nombre</th>
                                <th class="p-2" style="width:15%;">Dni</th>
                                <th class="p-2" style="width:10%;">Celular</th>
                                <th class="p-2" style="width:25%;">Email</th>
                                <th class="p-2" style="width:10%;">Modificar</th>
                                <th class="p-2" style="width:10%;">Eliminar</th>
                            </tr>
                            @{
                                for (int i = 0; i < ViewBag.Users.Count; i++)
                                {
                            <tr class="tableRow">
                                <td class="colToSearch pl-2">@validString(ViewBag.Users[i].Surname)</td>
                                <td class="colToSearch">@validString(ViewBag.Users[i].Name)</td>
                                <td class="colToSearch">@validInt((long)ViewBag.Users[i].Dni)</td>
                                <td>@validInt(Convert.ToInt64(ViewBag.Users[i].Cellphone))</td>
                                <td>@validString(ViewBag.Users[i].Email)</td>
                                <td><a data-toggle="modal" data-target="#modalUpdt"><updateButton modelId="@ViewBag.Users[i].Id"><img class="crudButton" src="~/images/edit.png" /></updateButton></a></td>
                                <td><a data-toggle="modal" data-target="#confirmModal"><deleteButton modelId="@ViewBag.Users[i].Id"><img class="crudButton" src="~/images/delete.png" /></deleteButton></a></td>
                            </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Create Beg-->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title">Esta seguro que quiere eliminar al usuario?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="confirm" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Extra large modal Create-->
    <div class="modal fade bd-example-modal-xl" id="modalCrt" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear Usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row justify-content-center mt-3">
                        <div class="col-md-3">
                            <div class="text-center">
                                <strong><span>Apellido</span></strong>
                            </div>
                            <div class="crtInput notEmpty" id="crtSurname">
                                <input class="form-control text-center" type="text">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>Nombre</span></strong>
                            </div>
                            <div class="crtInput notEmpty" id="crtName">
                                <input class="form-control text-center" type="text">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>Segundo Nombre</span></strong>
                            </div>
                            <div class="crtInput notEmpty" id="crtSecond">
                                <input class="form-control text-center" type="text">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-3">
                            <div class="text-center">
                                <strong><span>Email</span></strong>
                            </div>
                            <div class="crtInput notEmpty" id="crtMail">
                                <input class="form-control text-center" type="email">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>Contraseña</span></strong>
                            </div>
                            <div class="crtInput notEmpty" id="crtPass">
                                <input class="form-control text-center" type="password">
                                <div class="validation_msg hidden text-center">Ingrese una contraseña válida</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>Confirmar Contraseña</span></strong>
                            </div>
                            <div class="crtInput notEmpty" id="crtPassConfirm">
                                <input class="form-control text-center" type="password">
                                <div class="validation_msg hidden text-center" >Las contraseñas no coinciden</div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-3">
                            <div class="text-center">
                                <strong><span>Nro. Teléfono</span></strong>
                            </div>
                            <div class="crtInput notEmpty validInt" id="crtTelephone">
                                <input class="form-control text-center" type="number" min="0">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>Nro. Celular</span></strong>
                            </div>
                            <div class="crtInput notEmpty validInt" id="crtCellphone">
                                <input class="form-control text-center" type="number" min="0">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>Dni</span></strong>
                            </div>
                            <div class="crtInput notEmpty validInt" id="crtDni">
                                <input class="form-control text-center" type="number" min="0">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center offset-md-1 mt-5">
                        <h4 class="badge-pill col-md-11 badge-danger">Dirección</h4>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-10">
                            <div class="crtInput notEmpty" id="crtAddress">
                                <input class="form-control text-center" type="text">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center mt-5">
                        <div class="col-md-3">
                            <div class="text-center">
                                <strong><span>Nro. Teléfono Madre</span></strong>
                            </div>
                            <div class="crtInput notEmpty validInt" id="crtTelM">
                                <input class="form-control text-center" type="text">
                                <div class="validation_msg hidden text-center">Ingrese un teléfono válido</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>Nro. Teléfono Padre</span></strong>
                            </div>
                            <div class="crtInput notEmpty validInt" id="crtTelF">
                                <input class="form-control text-center">
                                <div class="validation_msg hidden text-center">Ingrese un nro. celular válido</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>Nro. Teléfono Hermano</span></strong>
                            </div>
                            <div class="crtInput notEmpty validInt" id="crtTelB">
                                <input class="form-control text-center" type="email">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secundary" id="crtCancel" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary" id="add">Crear</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Create END-->
    <!-- Modal Update Beginning-->

    <div class="modal fade bd-example-modal-xl" id="modalUpdt" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificar Usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row justify-content-center mt-3">
                        <div class="col-md-3">
                            <div class="text-center">
                                <strong><span>Apellido</span></strong>
                            </div>
                            <div class="updtInput notEmpty" id="updtSurname">
                                <input class="form-control text-center" type="text">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>Nombre</span></strong>
                            </div>
                            <div class="updtInput notEmpty" id="updtName">
                                <input class="form-control text-center" type="text">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>Segundo Nombre</span></strong>
                            </div>
                            <div class="updtInput notEmpty" id="updtSecond">
                                <input class="form-control text-center" type="text">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-10">
                            <div class="text-center">
                                <strong><span>Email</span></strong>
                            </div>
                            <div class="updtInput notEmpty" id="updtMail">
                                <input class="form-control text-center" type="email">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-3">
                            <div class="text-center">
                                <strong><span>Nro. Teléfono</span></strong>
                            </div>
                            <div class="updtInput notEmpty validInt" id="updtTelephone">
                                <input class="form-control text-center" type="number" min="0">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>Nro. Celular</span></strong>
                            </div>
                            <div class="updtInput notEmpty validInt" id="updtCellphone">
                                <input class="form-control text-center" type="number" min="0">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>Dni</span></strong>
                            </div>
                            <div class="updtInput notEmpty validInt" id="updtDni">
                                <input class="form-control text-center" type="number" min="0">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center offset-md-1 mt-5">
                        <h4 class="badge-pill col-md-11 badge-danger">Dirección</h4>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-10">
                            <div class="updtInput notEmpty" id="updtAddress">
                                <input class="form-control text-center" type="text">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center mt-5">
                        <div class="col-md-3">
                            <div class="text-center">
                                <strong><span>Nro. Teléfono Madre</span></strong>
                            </div>
                            <div class="updtInput notEmpty validInt" id="updtTelM">
                                <input class="form-control text-center" type="number">
                                <div class="validation_msg hidden text-center">Ingrese un teléfono válido</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>Nro. Teléfono Padre</span></strong>
                            </div>
                            <div class="updtInput notEmpty validInt" id="updtTelF">
                                <input class="form-control text-center" type="number">
                                <div class="validation_msg hidden text-center">Ingrese un nro. celular válido</div>
                            </div>
                        </div>
                        <div class="ml-5 col-md-3">
                            <div class="text-center">
                                <strong><span>Nro. Teléfono Hermano</span></strong>
                            </div>
                            <div class="updtInput notEmpty validInt" id="updtTelB">
                                <input class="form-control text-center" type="number">
                                <div class="validation_msg hidden text-center">Ingrese un valor válido</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secundary" id="updtCancel" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary" id="update">Modificar</button>
                </div>

            </div>
        </div>
    </div>
    <script src="~/js/UsersCRUD.js"></script>
</body>
</html>